.main-heading{

	letter-spacing: 2px;
	color: rgb(206, 97, 29);
	margin-top: 1%;
}

.song-details
{
	color: #3b3d4a;
	text-align: center;
}

.song-name
{
	padding-bottom: 12px;
}


.song-tab>li.active>a, .song-tab>li
{
	color: rgb(206, 97, 29);
	text-transform: uppercase;
}

.song-lyrics{
	max-height: 500px !important;
}

.song-lyrics-pre
{
	background-color: #eee;
	font-size: 18px;
	text-align: left;
	margin-left: 10%;
	border: none;
}

.background{
	background-color: yellow;
}

.song-lyrics-english{
	background-color: white;
	text-align: left;
	margin-left: 10%;
	border: none;
}

.fa-star {
	padding-left: 5px;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgb(206, 97, 29);
    color: #FFFFFF;
}

.fa-star:hover
{
	color : rgb(206, 97, 29);
}

.no-song-instructions
{
	text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-top: 8%;
}

.no-song-instructions > li{
	list-style-type: none;
}